	<div class="container">
	  <div class="jumbotron">
	    <h1> Programming of User Interfaces </h1>
      <div ngbDropdown class="d-inline-block mb-3">
        <button class="btn btn-outline-primary mr-2" id="dropdownBasic1" ngbDropdownToggle>
            Exercises
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>
                <a routerLink="/emailreaderbasic">Exercise 1: Email Reader Basic</a>
            </button>
            <button ngbDropdownItem>
                <a routerLink="/emailreaderform">Exercise 2/3: Email Reader Form</a>
            </button>
            <button ngbDropdownItem>
              <a routerLink="/emailslist">Exercise 4: Emails With Routing</a>
          </button>
        </div>
      </div>
	  </div>
    <router-outlet></router-outlet>
	</div>
