<h3>List of Emails</h3>
<input
  class="my-3 me-5"
  type="text"
  [(ngModel)]="filterTerm"
  placeholder="Search emails for text">
<input
  type="checkbox"
  [(ngModel)]="withBody"
  >
  With body
<div>
  <table *ngIf="emailList.length > 0; else emptyList" class="table">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emailList | filter:filterTerm | withbodyFilter:withBody">
        <td class="table-cell">{{email.from}}</td>
        <td class="table-cell">{{email.to}}</td>
        <td class="table-cell">{{email.subject}}</td>
        <td>
          <button class="btn btn-outline-primary me-4">
            <a [routerLink]="['/emailviewer', email.id]" class="text-decoration-none">Show Email</a>
          </button>
          <button
            class="btn btn-danger"
            (click)="deleteEmail(email.id)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #emptyList>The list of emails is empty</ng-template>
</div>
<button class="btn btn-primary">
  <a class="text-light text-decoration-none" routerLink="/emailform">Create new email</a>
</button>
